body{
  font-family: 'Lora', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16pt;
}

h1{
  font-size: 2em;
  text-align: center;
  line-height: 2;
}

h2{
  font-size: 1.5em;
  text-align: center;
  padding: 5px;
}

p {
  padding: 0 30px;
  line-height: 1.6;
}

#intro {background-color: #d5f4e6;
	min-height: 150px;
	padding-top: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
	padding-left: 25px
}

#content_p {background-color: #99CCFF;
	min-height: 150px;
	padding-top: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
	padding-left: 25px;
	grid-column: 1 / span 2;
}

a.skip{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

a.skip:focus{
  top:20px;
  color: black;
  text-decoration-style: solid;
}

*:focus{
  border: 2px solid black;
}

footer{
  background-color: black;
  color: white;
  padding: 30px;
  text-align: center;
  position: relative;
  left: 0;
  bottom: 0;
  width:100%;
}


@-webkit-keyframes bounceIn{
   0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
} 

#logo{
  width: 250px;
  -webkit-animation-name: bounceIn;
  -webkit-animation-duration: 3s;
  animation-name: bounceIn;
  animation-duration: 3s;
 
}

.gallery{
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery > img{
  border: 7px #9999FF solid;
  margin: 10px;
  width: 300px;
  align-self: center;
}

.page_img {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 15px;
  align-items: stretch;
}

.page_img img{
  max-width: 100%;
}
	

header{
  background: #fff;
  border-bottom: 3px solid #50C7C7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav_links{
  display: flex;
  flex-direction: column;
}

.nav_item a{
  color: black;
  text-decoration: none;
}

.nav_item a:hover, a:focus{
  color: #7F00FF;
  text-decoration: underline;
  -webkit-text-decoration-style: wavy;
  text-decoration-style: wavy;
}

.active, .nav_item:hover {
  background-color: #33FF99;
  text-decoration: underline;
}

.container{
  display: grid;
  grid-row-gap: 20px;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  background-color: #99CCFF;
}

@media screen and (prefers-reduced-motion: reduce) { 
   #logo {
    width: 250px;
      }
}
@media screen and (min-width: 850px){
  .card {
    flex-basis: 225px;
  }

  .card_big{
    -webkit-transform: scaleX(1.12);
            transform: scaleX(1.12);
  }

  header{
    justify-content: space-between;
    flex-direction: row;
  }

  .nav_links{
    justify-content: space-between;
    flex-direction: row;
  }

  .nav_item a{
    padding: 10px;
  }
}

@media print { 
  .card {
    flex-basis: 200px; }
  .body {
    background-image: none; }
  .pricing {
    align-items: flex-start; }
  .gallery {
    display: none; }
  #gallery {
    display: none; }
      
}


@media screen and (prefers-reduced-motion: reduce) { 
   #logo {
    width: 250px;
      }
    }
